footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  margin-top: 0.2rem;
  z-index: 1300;
  background-color: #1976d2;
  text-align: center;
  font-size: 0.9rem;
  display: flex;
  color: #fff;
  display: flex;
  border: 1px solid transparent;
  justify-content: center;
  gap: 6rem;
  align-items: center;
}

footer a {
  color: #fff;
}

.footer a:hover {
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}

@media screen and (max-width: 600px) {
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
